@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Orbitron&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(195deg, rgb(11, 7, 85) 0%, rgba(9,9,121,1) 35%, rgb(0, 89, 255) 100%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(102, 121, 228);
    padding: 8px;
}

.nav a img {
    margin-left: 20px;
    height: 100px;
    width: 100px;
}

.nav a h2 {
    color: rgb(202, 202, 202);
    font-size: 20px;
}

.nav button {
    margin-right: 20px;
    padding-inline: auto;
    height: 50px;
    width: 110px;
    font-size: 15px;
    border-radius: 20px;
    background-color: rgb(41, 25, 185);
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.nav button:hover {
    background-color: rgb(25, 0, 255);
    color: white;
    cursor: pointer;
}

.nav a {
    margin-right: 20px;
    text-decoration-color: none;

}

.nav a img {
    height: 40px;
    width: 40px;
}

.nav a img:hover {
    fill: white;
}



main {
    height: 100vh;
}

.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stadium {
    height: 800px;
    width: 800px;
    background-image: url(../src/img/terrain.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#attackPlayer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 60px;
}

#attackPlayer .LF, .RF {
    margin-top: 30px;
}

#midPlayer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 220px;
}

#midPlayer .LCM, .RCM {
    margin-top: 30px;
}

#defencePlayer {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#defencePlayer .LB, .RB {
    margin-top: 30px;
}


#gkPlayer {
    display: flex;
    justify-content: center;
    /* margin-bottom: 200px; */
}

.playerSlot {
    position: relative;
    background-image: url('../src/img/rttk.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

.playerSlot:hover {
    transform: scale(1.8);
    z-index: 10;
    filter: drop-shadow(0 0 0.75rem rgb(20, 220, 70));  
}

.playerCard {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.playerCard img {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}